header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 2000;
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

section {
    margin-top: 80px;
}

#logo {
    display:block;
    height: 40px;
    margin: 10px auto;
}

.favorites {
    display: block;
    margin: 20px auto;
}

.normal-button{
    background: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    border: 0;
    border-radius: 3px;
    height: 48px;
    color: white;
    box-shadow: 0 3px 5px 2px rgba(255,105,135,.3);
    padding: 0 30px;
    font-size: 19px;
    transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.normal-button:hover{
    box-shadow: 0 4.5px 7.5px 3px rgba(255,105,135,.5);
}

.normal-button:focus{
    border: 0;
}

.normal-button:active{
    border: 0;
}
