.content {
  min-height: 100%;
}

.header-filler {
  height: 80px;
  width: 100%;
}

.favorites {
  display: block;
  margin: 20px auto;
}

.add-button {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border: 0;
  border-radius: 3px;
  height: 48px;
  color: white;
  box-shadow: 0 3px 5px 2px rgba(255, 105, 135, 0.3);
  padding: 0 30px;
  font-size: 19px;
  transition: box-shadow 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.add-button:hover {
  box-shadow: 0 4.5px 7.5px 3px rgba(255, 105, 135, 0.5);
}

.add-button:focus {
  border: 0;
}

.add-button:active {
  border: 0;
}

.ad-card-1 {
  min-height: 100px;
  margin: auto;
}

.ad-card-2 {
  min-height: 100px;
  margin: 20px auto;
  margin-bottom:25px;
}

/* footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  } */
