.main-work {
  margin: auto;
  min-height: 250px;
  padding: 5px;
  padding-right: 10px;
}

/* .whole {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: #333;
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 100;
} */

.FileInput {
  display: none;
}

.dropzone-dummy {
  width: 100%;
  height: 200px;
  border: 3px dashed #75daff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 16px;
}

.Highlight {
  border: 3px solid #75daff;
}

.upload-button {
  margin-top: 14px;
  background-color: #20c9ee;
  border: none;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  color: white;
  font-size: 16px;
  cursor: pointer;
}
