header {
  width: 100%;
  height: 60px;
  z-index: 2000;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  margin-bottom:25px;
}

#logo {
  display: block;
  height: 40px;
  margin: 10px auto;
}
